-c requirements.txt
pip
ipdb
ipython
mypy
pytest
pytest-cov
tox
build
twine
coverage
pandas-stubs
types-Pillow
types-PyYAML
types-Pygments
types-colorama
types-decorator
types-pycurl
types-setuptools
types-six
types-openpyxl
